/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #8fa254;
    color: #333;
}

header {
    background-color: #2d3436;
    color: #49914d;
    padding: 20px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo h1 {
    font-size: 2em;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #1ba935;
    text-decoration: none;
    font-size: 1.2em;
}

.hero {
    background: url('images/hero.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(33, 102, 56);
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.hero .btn:hover {
    background-color: #c0392b;
}

.productos {
    padding: 40px 20px;
    text-align: center;
    background-color: #497d46;
}

.productos h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.producto-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.5em;
    margin-top: 15px;
}

.card p {
    font-size: 1em;
    color: #555;
}

.contacto {
    background-color: #317b8f;
    padding: 40px 20px;
    text-align: center;
}

.contacto h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contacto form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacto input, .contacto textarea {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border: 1px solid #605f3d;
    border-radius: 5px;
}

.contacto button {
    padding: 10px 20px;
    background-color: #2d3436;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #34495e;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

iframe {
    max-width: 100%;
    height: auto;
}

audio {
    width: 100%; /* Esto hará que el reproductor ocupe el ancho completo del contenedor */
    margin: 20px 0;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

footer {
    background-color: #2d3436;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}
